
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link href="~/css/AboutStyleSheet.css" rel="stylesheet" />

<h1>ABOUT ME</h1>
<div>
<h2>Bio</h2>
<p>I'm Randy Zilinski, a web developer professionally and a cosplayer on my off-time. I grew up in East Detroit (now called Eastpoint), but have moved countless times in my life, so my hometown is less about where my family is, and more about where my family is. My life has taken me through many ventures including attending Lawrence Tech for Architecture/Engineering, working in Magic Kingdom at Walt Disney World, and most recently a Back-End Coding Program at Grand Circus Detroit! </p>
</div>
<h3>Email: rjzilinski@gmail.com</h3>

