
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/css/CodingStyleSheet.css" rel="stylesheet" />

<h1>Coding Projects</h1>
<a href="https://github.com/Rzilinski77/LibraryMidGroup">
    <img src="http://pngimg.com/uploads/github/github_PNG20.png" alt="Library Terminal" class="github">
</a>
<h2>Library Terminal</h2>
<p>This project was my first true experience with pair programming, in which we all worked together to make a library terminal console app where the user could search through a library of books in a text file, check them out, add a book, all while keeping the text file up to date with the status of the books.</p>

