
@{
    ViewData["Title"] = "CosplayPortfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/CosplayStyleSheet.css" rel="stylesheet" />
<h1>Cosplay Projects</h1>
<h2>Draugr</h2>
<p>Currently I'm working on a helmet from the draugr set of armor in the videogame Skyrim. The mask's jaw is detatched so I can move around comfortably and still talk. The only finishing touches I need are to learn a bit about electronics to make some glowing eyes, and to get an undermask to black out the eyes.</p>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/p960x960/64265291_10156032082346116_146638180714545152_o.jpg?_nc_cat=110&_nc_ohc=uiDGeCn3N7YAQmb4L3M3kF0HCcjb4Y5nTZTtpeYC-HsNmyigsy7aIGGyQ&_nc_ht=scontent.fdet1-1.fna&_nc_tp=1&oh=6affbbca74bd4922fb058dc11a2b78a2&oe=5E8F8104">
            <img src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/p960x960/64265291_10156032082346116_146638180714545152_o.jpg?_nc_cat=110&_nc_ohc=uiDGeCn3N7YAQmb4L3M3kF0HCcjb4Y5nTZTtpeYC-HsNmyigsy7aIGGyQ&_nc_ht=scontent.fdet1-1.fna&_nc_tp=1&oh=6affbbca74bd4922fb058dc11a2b78a2&oe=5E8F8104" alt="Draugr Helm" width="400" height="400">
        </a>
        <div class="desc">Adding details to the horns</div>
    </div>
</div>


<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/p960x960/62369513_10156016873851116_2734668255036702720_o.jpg?_nc_cat=100&_nc_ohc=wHwUaNFxx1gAQn3zfnrNtvFrbqLQiUhJl0uwEglbQzbxGtAX_2BQJww3A&_nc_ht=scontent.fdet1-1.fna&_nc_tp=1&oh=de92c784d1227db9c07b6b03bfb0236d&oe=5E974110">
            <img src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/p960x960/62369513_10156016873851116_2734668255036702720_o.jpg?_nc_cat=100&_nc_ohc=wHwUaNFxx1gAQn3zfnrNtvFrbqLQiUhJl0uwEglbQzbxGtAX_2BQJww3A&_nc_ht=scontent.fdet1-1.fna&_nc_tp=1&oh=de92c784d1227db9c07b6b03bfb0236d&oe=5E974110" alt="Forest" width="400" height="400">
        </a>
        <div class="desc">Forming the base horns</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/p960x960/57798850_10155909467891116_3650581799119093760_o.jpg?_nc_cat=106&_nc_ohc=3NyVxDNa2yEAQmCr1SiTHCqo-v7HBjdE3rHkTVffU9GgX033hW-IeqI1A&_nc_ht=scontent.fdet1-1.fna&_nc_tp=1&oh=aaeb5fd75be88702ab221b31bfccf895&oe=5EADE66A">
            <img src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/p960x960/57798850_10155909467891116_3650581799119093760_o.jpg?_nc_cat=106&_nc_ohc=3NyVxDNa2yEAQmCr1SiTHCqo-v7HBjdE3rHkTVffU9GgX033hW-IeqI1A&_nc_ht=scontent.fdet1-1.fna&_nc_tp=1&oh=aaeb5fd75be88702ab221b31bfccf895&oe=5EADE66A" alt="Texture" width="400" height="400">
        </a>
        <div class="desc">Adding texture to the helm</div>
    </div>
</div>

<div class="clearfix"></div>