@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/IndexStyleSheet.css" rel="stylesheet" />

<div class="intro" align="center">
    <div align="left" class="picture">
    </div>
    <div align="right" class="name">
        <h1 class="name">Randy <br /> Zilinski</h1>
    </div>
</div>
<div class="space"><h2 class="display-1"></h2></div>
<div class="row">
    <div align="left" class="column">
        <img src="https://cdn.auth0.com/blog/native-csharp/logo.png" class="logo" />
        <h2>Programmer</h2>
        <div class="prog"></div>
        <p>I am currently enrolled and learning from a great team at Grand Circus Detroit in their Back-End development course. I am experienced in C#, SQL, OOP, and learning more and more each day!</p>
    </div>
    <div align="right" class="column2">
        <img src="https://www.youmacon.com/wp-content/uploads/2019/09/2019-Youmacon-Social-opt-2.png" class="logo" />
        <h2>Cosplayer</h2>
        <div class="cos"></div>
        <p>My passion for cosplay started when I went to my first convention twelve years ago, although most of my practice and learning has been in the past four years. I prefer to fabricate props of weapons, and especially shields!</p>
    </div>
</div>
